{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div style="display: none" id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        Invalid login details
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 left">
                <form id="login" action="/login" method="POST">
                    <div class="form">
                      <div class="col-md-4 mb-3 d-block">
                        <label for="validationServerUsername">Email</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input type="email" class="form-control is-invalid" id="email" placeholder="name@sample.com" aria-describedby="inputGroupPrepend3" name="email" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-row d-block">
                      <div class="col-md-6 mb-3">
                        <label for="validationServer03">Password</label>
                        <input type="password" min=11 class="form-control is-invalid" id="password" placeholder="Password" name="password" required>
                        
                      </div>
                    </div>
                    <input class="btn btn-primary d-block" type="submit" value="Submit">
                  </form>
            </div>
            <div class="col-md-6 right"></div>
       
        
    </div>


<script>
    $("#register").submit(function (e) {
        e.preventDefault();
        
 
            let email= $("#email").val()
            let password= $("#password").val()
  

        // console.log(selected)

        if (email == ""){
            alert("Enter valid email");
        }
        else {
            $.get("/check?email=" + email, function (data) {
            if(data == false){
                alert("FAIL")
                let x = document.getElementById("alert");
                x.style.display = "block";
                
            }

            else if(data== true){
                alert("Successful");    
                document.getElementById("register").submit();
            }
        });
        }

    });
</script>

{% endblock %}