{% extends "layout.html" %}

{% block title %}
Schedule
{% endblock %}

{% block main %}
<link rel="stylesheet" href="static/css/schedule.css" />
<script src="static/js/jquery-3.2.1.min.js"></script>



<div style="display: none" id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
	Schedule
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	</button>
</div>
<div class="flex-main ">

	<div class="main-agileinfo  ">
		<div class="items-group">
			<div class="item agileits-w3layouts">


				<div class="form-container">
					<div class="modal-dialog form-dark" role="document">
						<!--Content-->
						<div class="modal-content card card-image" style="background-image: url('static/img/bg.jpg');">
							<div class="text-white py-5 px-5 z-depth-4">
								<!--using modal Head style-->
								<div class="modal-header text-center pb-4">
									<h2 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel">
										<strong>Lesson </strong> <a class="green-text font-weight-bold"><strong>
												schedule</strong></a></h2>
									<button type="button" class="close white-text" data-dismiss="modal"
										aria-label="Close">
									</button>
								</div>
								<!--using modal Body-->
								<div class="modal-body txt">

									<form id="schedule" action="/schedule" method="POST"><br>
										<label for=""><strong>What days do you want lessons to hold?</strong></label>

<dir style="content: grid; grid-template-columns:35% 35% 35%;" class="">
		<div class="form-check form-check-inline">	
				<input class="form-check-input" type="checkbox" id="Monday"
					value="Monday" name="check-box">
				<label class="form-check-label" for="inlineCheckbox1">Monday</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="Tuesday"
					value="Tuesday" name="check-box">
				<label class="form-check-label" for="Tuesday">Tuesday</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="Wednesday"
					value="Wednesday" name="check-box">
				<label class="form-check-label" for="Wednesday">Wednesday</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="Thursday"
					value="Thursday" name="check-box">
				<label class="form-check-label" for="inlineCheckbox2">Thursday</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="Friday" value="Friday" name="check-box">
				<label class="form-check-label" for="Friday">Friday</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="Saturday"
					value="Saturday" name="check-box">
				<label class="form-check-label" for="Saturday">Saturday</label>
			</div>
			<div class="form-check form-check-inline">
				<input class="form-check-input" type="checkbox" id="Sunday" value="Sunday" name="check-box">
				<label class="form-check-label" for="Sunday">Sunday</label>
			</div>

</dir>

										<br><br>

										<label for="validationServer03"> How many hours per day</label>
										<br>
										<br>
										<select class="custom-select" id="hours" name="hours_per_day" required>
											<option value="" selected disabled> ---select hours per day---
											</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
										</select>
										<br><br>
										<div class="form-group">
											<div class="form">

												<label for="validationServer03"> For how long?</label>
												<br>
												<select class="custom-select" id="duration" name="duration" required>
													<option value="" selected disabled> ---select duration ---
													</option>
													<option value="1">1 week</option>
													<option value="2">2 weeks</option>
													<option value="3">3 weeks</option>
													<option value="4">1 month</option>
													<option value="8">2 months</option>
													<option value="12">3 months</option>
													<option value="16">4 months</option>
												</select>
											</div>
										</div>
										<input class="site-btn d-block txt" type="submit" id="next" value="Next">
									</form>


									<div class="row d-flex align-items-center mb-4">
									</div>


								</div>
							</div>
						</div>

					</div>


				</div>



			</div>
			<div class="w3lsfooteragileits">

			</div>

		</div>
	</div>

	<div class="results">
		<div class="modal-dialog form-dark" role="document">
				<!--Content-->
				<div class="modal-content card card-image" style="background-image: url('static/img/bg.jpg');">
					<div class="text-white py-5 px-5 z-depth-4">
		<h2> </h2>
								<strong>Total cost</h3>
									<!--using modal Head style-->
						<div class="modal-header  pb-4">
							<h3 class="modal-title text-left w-100 white-text font-weight-bold" id="myModalLabel">
							<h1 id="result1">₦</h1>
						</div>
						<!--using modal Body-->
						<div class="modal-body txt-center">
								
							<br>
								<input class="site-btn btn-success
								" type="submit" value="Make Payment"> 
			
							<div class="row d-flex align-items-center mb-4">
							</div>


						</div>
					</div>
				</div>

			</div>

	</div>
	<!-- //main -->
</div>
</div>


<script src="static/js/jquery-3.2.1.min.js"></script>
<script>
	// select date using date picker
	// initialize datepicker
	 $('.datepicker').pickadate(); 


	$("#schedule").submit(function (e) {
		e.preventDefault();

		let hours = $("#hours").val()
		let duration = $("#duration").val()
		let days = []

		$('input[name="check-box"]:checked').each(function() {
			days.push(this.value)
		});
		
		let num_of_days = days.length
		console.log(days)

		let total = 1500 * hours * duration * num_of_days

		if (hours == "" || duration == "" || num_of_days == "") {
			alert("Fill required fields");
		}
		else {
			var total1 = "₦" + total;
			$("#result1").text(total1);
		}

	});
</script>

{% endblock %}