{% extends "layout.html" %}

{% block title %}
Schedule
{% endblock %}

{% block main %}
<!--  -->
<div class="container">
  <div style="display: none" id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
    User already Exists
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-md-6 left">
      <form id="schedule" action="/schedule" method="POST">
        <div class="form">
            <label for="validationServer03"> select hours per day</label>
            <select class="custom-select" id="hours" name="hours_per_day" required>
              <option value="" selected disabled> ---select hours per day---</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>         
            </select>
        
          <div class="form-group">
            <div class="form">

              <div class="col-md-4 mb-3 d-block">
                <label for="validationServer01">start date</label>
                <input type="text" id="date" class="form-control is-invalid" placeholder="Start date" name="start_date"
                  required>
              </div>

              <div class="col-md-4 mb-3 d-block">
                <label for="validationServer01">Total</label>
                <input type="text" id="dtotal" class="form-control is-invalid" placeholder="total" name="total"
                  required>
              </div>

            <label for="validationServer03"> select days of week</label>
            <select class="custom-select" id="week" name="days_of_week" required>
              <option value="" selected disabled> ---select days of week---</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
            </select>
            

            <label for="validationServer03"> select duration</label>
            <select class="custom-select"  id="duration" name="duration" required>           
              <option value="" selected disabled> ---select duration ---</option>
              <option value="1">1 week</option>
              <option value="2">2 weeks</option>
              <option value="3">3 weeks</option>
              <option value="4">1 month</option>
              <option value="8">2 months</option>
              <option value="12">3 months</option>
              <option value="16">4 months</option>
            </select>
          </div>
         
          

      

        </div>
        <input class="btn btn-primary d-block" type="submit" value="Submit">
      </form>
    </div>
    <div class="col-md-6 right"></div>


  </div>


  <script>
      $("#schedule").submit(function (e) {
          e.preventDefault();   
          let hours = $("#hours").val()
          let duration = $("#duration").val()
          let week = $("#week").val()
          let date = $("#date").val()
          console.log(hours,duration,week,date)
          if(hours == "" || duration == "" || week == ""|| date == ""){
            alert("Fill required fields")
            let x = document.getElementById("alert");
            x.style.display = "block";
          }
          else{
            alert("Successful");    
            let x = document.getElementById("alert");
            x.style.display = "block";
            document.getElementById("schedule").submit();
          }
      });
  </script>

  {% endblock %}