{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="container">
            <div style="display: none" id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Successful
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
        <div class="row">
            <div class="col-md-6 left">
                <form id="students" action="/students" method="POST">
                    <div class="form">
                      <div class="col-md-4 mb-3 d-block">
                        <label for="validationServer01">Subject</label>
                        <input type="text" class="form-control is-invalid" id="firstname" placeholder="Subject" name="subject" required>
                      </div>
                      
                      <div class="form-group">
                            <label for="validationServer03"></label>
                        <select class="custom-select" name="tutor_gender" required>
                          <option value="" selected disabled> ---select tutor gender ---</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Any">No Preference</option>
<!--  -->
                        </select>
                      </div>
                      <div class="col-md-4 mb-3 d-block">
                        <label for="validationServerUsername">Address</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                          </div>
                          <input type="text" class="form-control is-invalid" id="Address" placeholder="34 Admiralty way, Lekki" aria-describedby="inputGroupPrepend3" name="address" required>
                        </div>
                      </div>
                    </div>
                    <input class="btn btn-primary d-block" type="submit" value="Submit">
                  </form>
            </div>
            <div class="col-md-6 right"></div>
       
        
    </div>


<script>
    $("#students").submit(function (e) {
        e.preventDefault();   
        let subject = $("#subject").val()
        let address = $("#address").val()
        if(subject == "" || address == ""){
          alert("Fill required fields")
          let x = document.getElementById("alert");
          x.style.display = "block";
        }
        else{
          alert("Successful");    
          let x = document.getElementById("alert");
          x.style.display = "block";
          document.getElementById("students").submit();
        }
    });
</script>

{% endblock %}